<!-- Navigation -->
<nav id="page-chat" class="navbar navbar-default navbar-fixed-top navbar-sm navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>  <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#/home">BHC-APP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a data-target="#page-chat"> close</a>
        </li>
        <li class="page-scroll">
          <a href="#/chat">Talk To An Expert</a>
        </li>
        <li class="page-scroll">
          <a href="#about">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container">
  <h2>Road Map</h2>


  <!--{{model.list}}-->

  <div ng-repeat="panel in model.list">

    <div class="panel panel-default" ng-show="{{panel.enable}}" >
      <div  class = "panel-heading" >
        <a data-toggle="collapse" data-target= "#{{panel.id}}">{{panel.heading}}</a>

        <label class="pull-right" >
          <input  ng-click="model.enable(panel.id)" class="pull-right" type="checkbox" value="">Done</label>


        <div id= "{{panel.id}}" class="panel-collapse collapse">
          <div class="panel-body">
            <p>
              {{panel.content}}
            </p></div>
        </div>
      </div>
    </div>

<div class="panel panel-default" ng-show="!{{panel.enable}}" >
      <div  class = "panel-heading" >
<a data-toggle="collapse" data-target= "#{{panel.id}}1">hello</a>

<label class="pull-right" >
  <input  ng-click="model.enable(panel.id)" class="pull-right" type="checkbox" value="" disabled>Done</label>


<div id= "{{panel.id}}1" class="panel-collapse collapse">
  <div class="panel-body">
    <p>
      {{panel.content}}
    </p></div>
</div>
</div>
</div>




  </div>
</div>
